/*Style sheet for mainpage*/

	body {
	color: white;
	background-color: #c6b1af;
	text-align: center;
	font-size: 44;
	font-family: "Times New Roman", "Courier New" ;
	/*margin: 0px 50px 0px 200px;*/
	line-height: 60px;
	display: flex;
	
}

.centerpage{
	/* flex: 1 1 auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	}

	.topbar{
		width: 970;
		color: #EED2B4;
		background-color: #c79091;
		border-style: solid;
		border-color: #c79091;
		border-radius: 25px;
		margin-bottom: 50px;
		margin-top: 150px;
		box-shadow: 8px 10px rgb(0 0 20 / 10%);
		
		}
		
		h1{
		
		font-size: 74px;
		
		}
		
		.middle{
			display: flex;
			width: 1000;
			flex-direction: row;
			justify-content: space-around;
			
			
			
			}
		
		.about{
		background: rgba(224, 215, 204, 0.5);
		/*border-style: solid;*/
		width: 400;
		border-radius: 25px;
		font-size: 34px;
		margin-bottom: 30px;
		box-shadow: 8px 10px rgb(0 0 20 / 10%);
		
			}
			
		.middleimage{

			
			}
					img {
			border-radius: 5%;
			box-shadow: 8px 10px rgb(0 0 20 / 10%);
					}
					
	.toppics{
		/*margin: 15px 80px 0px 150px;*/
		}

	.sidebar{
		/*height: 100%;
		width: 200px;
		position: absolute;
		left: 0;
		top: 0;
		padding-top: 40px;
		background-color: black;*/
		}

		.sidebar {
		padding: 8px;
		font-size: 24px;
		/*display: block;*/
		width: 20%;
		background-color: #bba2a0;
		border-style: solid;
		border-color: #a68582;
		/*flex: 1;*/
		}

		/*.body-text {
		margin-left: 150px;
		font-size: 18px;*/
		}
	
	
		.page{
		display: flex;
		align-items: center;
			}
		
		.title{
		justify-content: space-between;
		color: #EED2B4;
		background-color: #c79091;
		border-style: solid;
		border-color: #c79091;
		border-radius: 25px;
		margin-bottom: 50px;
		box-shadow: 8px 10px rgb(0 0 20 / 10%);
			}
			
		.recimage{
			
			}
			
		.recipetop{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
			}

		.rectext{
			display: flex;
			flex-direction: column;
			}
			
	
		.list {
		display: flex;
		text-align: left;
		flex-direction: column;
		margin-left: 35px;
		}